.DS_Store
node_modules/
www/
ios/App/App/public/
ios/App/build/
ios/App/DerivedData/
ios/App/App/capacitor.config.json
ios/App/App/config.xml
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
