.DS_Store
node_modules/
www/
ios/App/App/public/
ios/App/build/
ios/App/DerivedData/
ios/App/App/capacitor.config.json
ios/App/App/config.xml
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/build/
android/build/
android/.gradle/
android/.idea/
android/local.properties
android/keystore.properties
android/*.jks
